.idea/
biz.ganttproject.core/build/
biz.ganttproject.impex.ical/build/
biz.ganttproject.impex.msproject2/build/
build/
ganttproject-builder/dist-bin/
ganttproject-builder/lib/core/
ganttproject-builder/.gradle/
.gradle/
ganttproject/lib/core/

